<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swing Buttons</title>
    <link rel="stylesheet" href="../../../style.css" />
    <link rel="stylesheet" href="../../SwingKit/Gradients/style.css" />
    <link rel="stylesheet" href="../../SwingKit/AnimatedGradients/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <main class="px-6 py-6">
      <h1 class="text-2xl py-6">Animated text</h1>
      <div class="parent">
        <button>
          <a
            href="./Ascend text animation/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Ascend</a
          >
        </button>

        <button>
          <a
            href="./Typewriter text animation-1/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >TypeWriter 1</a
          >
        </button>


        <button>
          <a
            href="./TypeWriter text animation-2/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >TypeWriter 2</a
          >
        </button>

        <button>
          <a
            href="./Zoom Out/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Zoom Out</a
          >
        </button>
        <button>
          <a
            href="./Burst/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Burst</a
          >
        </button>
        <button>
          <a
            href="./Clarify/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Clarify</a
          >
        </button>
        <button>
          <a
            href="./Block/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Block</a
          >
        </button>
      </div>

    </main>
  </body>
</html>
