<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swing Buttons</title>
    <link rel="stylesheet" href="../../../style.css" />
    <link rel="stylesheet" href="../../SwingKit/Gradients/style.css" />
    <link rel="stylesheet" href="../../SwingKit/AnimatedGradients/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <main class="px-6 py-6">
      <h1 class="text-2xl py-6">Simple Button</h1>
      <div class="parent">
        <button>
          <a
            href="./PersonalComponents/NavBar/index.html"
            class="bg-blue-500 px-8 py-2 rounded-md text-white text-center"
            >Normal</a
          >
        </button>
        <button>
          <a
            href="./PersonalComponents/DocSideBar/index.html"
            class="bg-blue-500 hover:bg-blue-600 px-8 py-2 rounded-md text-white text-center"
            >Hover Me</a
          >
        </button>
      </div>

      <h1 class="text-2xl py-8 mt-3">Swing Button</h1>
      <div class="parent">
        <button>
          <a
            href="./PersonalComponents/NavBar/index.html"
            class="swing-ocean-gradient px-8 py-2 rounded-md text-white text-center"
            >Normal</a
          >
        </button>
        <button>
          <a
            href="./PersonalComponents/DocSideBar/index.html"
            class="swing-ocean-gradient hover:swing-ocean-gradient px-8 py-2 rounded-md text-white text-center"
            >Hover Me</a
          >
        </button>
      </div>

      <h1 class="text-2xl py-8 mt-3">Animated Swing Button</h1>
      <div class="parent">
        <button>
          <a
            href="./PersonalComponents/NavBar/index.html"
            class="swing-ocean-gradient-animate px-8 py-2 rounded-md text-white text-center"
            >Normal</a
          >
        </button>
        <button>
          <a
            href="./PersonalComponents/DocSideBar/index.html"
            class="swing-ocean-gradient-animate hover:swing-ocean-gradient px-8 py-2 rounded-md text-white text-center"
            >Hover Me</a
          >
        </button>
      </div>
    </main>
  </body>
</html>
