<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swing UI Componets</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../Gradients/style.css" />
    <link rel="stylesheet" href="../../../style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <main class="px-6 py-6">
      <h1 class="text-2xl py-6">Animated Gradients</h1>
      <div class="parent">
        <div
          class="swing-ocean-gradient-animate px-4 py-24 rounded-md text-center text-white"
        >
          swing-ocean-gradient-animate
        </div>
        <div
          class="swing-fire-gradient-animate px-6 py-24 rounded-md text-center text-white"
        >
          swing-fire-gradient-animate
        </div>
        <div
          class="swing-peach-gradient-animate px-6 py-24 rounded-md text-center text-white"
        >
          swing-peach-gradient-animate
        </div>
        <div
          class="swing-love-gradient-animate px-6 py-24 rounded-md text-center text-white"
        >
          swing-love-gradient-animate
        </div>
        <div
          class="swing-deepsea-gradient-animate px-6 py-24 rounded-md text-center text-white"
        >
          swing-deepsea-gradient-animate
        </div>
        <div
          class="swing-royal-gradient-animate px-6 py-24 rounded-md text-center text-white"
        >
          swing-royal-gradient-animate
        </div>
      </div>
    </main>
  </body>
</html>
