<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swing UI Componets</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../../style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <main class="px-6 py-6">
      <h1 class="text-2xl py-6">Gradients</h1>
      <div class="parent">
        <div
          class="swing-ocean-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-ocean-gradient
        </div>
        <div
          class="swing-fire-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-fire-gradient
        </div>
        <div
          class="swing-peach-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-peach-gradient
        </div>
        <div
          class="swing-love-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-love-gradient
        </div>
        <div
          class="swing-deepsea-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-deepsea-gradient
        </div>
        <div
          class="swing-royal-gradient px-6 py-24 rounded-md text-center text-white"
        >
          swing-royal-gradient
        </div>
      </div>
      <h1 class="text-2xl py-6">Gradients Hover</h1>
      <div class="parent">
        <div
          class="swing-ocean-gradient hover:swing-ocean-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-ocean-gradient
        </div>
        <div
          class="swing-fire-gradient hover:swing-fire-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-fire-gradient
        </div>
        <div
          class="swing-peach-gradient hover:swing-peach-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-peach-gradient
        </div>
        <div
          class="swing-love-gradient hover:swing-love-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-love-gradient
        </div>
        <div
          class="swing-deepsea-gradient hover:swing-deepsea-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-deepsea-gradient
        </div>
        <div
          class="swing-royal-gradient hover:swing-royal-gradient px-6 py-24 rounded-md text-center text-white"
        >
          hover:swing-royal-gradient
        </div>
      </div>
    </main>
  </body>
</html>
